body{
    background-image: url("abstract-blur-hospital.jpg");
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }
  .leftside img {
    width: 50px;
    height: auto;
  }
  .rightside nav a {
    text-decoration: none;
    margin-right: 15px;
    padding: 5px;
  }
  .rightside button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .rightside button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.2);
  }
  form {
    border: 2px solid #0099ff;
    border-radius: 30px;
    width: 450px;
    height: 300px;
    padding: 15px;
    transform: translate(750px,-410px);
    font-weight: bold;
    background: rgb(237,53,12);
    background: linear-gradient(0deg, rgba(237,53,12,1) 0%, rgba(206,196,194,1) 95%, rgba(204,204,204,1) 100%);
    color: rgb(34, 78, 99);
}
.img1{
  width: 100px;
  height: auto;
  transform: translate(170px,-15px);
}
.ipp{
  transform: translateX(100px);
}
.acte{
  margin-left: 1px;
}
#ipp{
  width: 190px;
  padding: 5px;
  border-color: rgba(34,193,195,1);
  font-size: 16px;
}
#acte{
  width: 190px;
  padding: 5px;
  border-color: rgba(34,193,195,1);
  font-size: 16px;
  margin-left:60px;
}
.save{
  color: white;
  font-size: 18px;
  padding: 10px;
  border:none;
  width: 100px;
  border-radius:10px;
  background: rgb(223,135,27);
  background: radial-gradient(circle, rgba(223,135,27,1) 0%, rgba(29,83,230,1) 100%);
  cursor: pointer;
  margin-left:180px;
  transition: transform 5ms;
}
.save:hover{
  transform: scale(1.2);
  background: rgb(237,53,12);
  background: linear-gradient(0deg, rgba(237,53,12,1) 46%, rgba(172,64,76,1) 73%);
}
